* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eee6e6;
    padding: 20px;
}

.login-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 30px 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 100%;
    max-width: 360px;
}

.logo {
    width: 150px;
    margin: 0 auto 25px auto;
    display: block;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.login-form button {
    width: 100%;
    padding: 12px;
    background-color: #0947f3;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #063fd1;
}

.divider {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #ccc;
}

.ou {
    color: #777;
    font-weight: bold;
}

.login-form a {
    color: #0947f3;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
}

.login-form p {
    margin-top: 15px;
    font-size: 14px;
}

/* 📱 Celulares  */
@media (max-width: 400px) {
    .login-container {
        padding: 20px 15px;
    }

    .logo {
        width: 120px;
    }

    .login-form p {
        font-size: 13px;
    }
}

/* 📲 Tablets */
@media (min-width: 401px) and (max-width: 768px) {
    .login-container {
        padding: 40px;
        max-width: 450px;
    }

    .logo {
        width: 140px;
    }

    .login-form input {
        font-size: 16px;
    }
}

/* 💻 Desktops  */
@media (min-width: 769px) {
    .login-container {
        max-width: 400px;
        padding: 50px;
    }

    .logo {
        width: 180px;
    }

    .login-form input {
        font-size: 16px;
    }

    .login-form button {
        font-size: 16px;
    }
}
